body {
    text-align: center;
    background-color: whitesmoke;
}
.info {
    border-style: solid;
    border-width: 2em;
    border-color: #c3e2e7;
    background-color: #b0d8c8;
    display:inline-block;

}
h2 {
    background-color: whitesmoke;
    color: rgb(69, 68, 68);
    
}
h3 {
    background-color: whitesmoke;
    color:rgb(69, 68, 68);
}